
/* --------------------- GLOBAL STYLES --------------------- */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

.color {
    color: red;
    background-color: aqua;
}










/* --------------------- TOPBAR --------------------- */

#top-bar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding-top: 2em;
    z-index: 1000;
    
    .hamburger {
        cursor: pointer;
        width: 35px;
        height: 35px;
        background-color: #325db9;
        border-radius: 50%;
        
        display: none;

        svg {
            fill: white;
            width: 20px;
            height: 20px;
        }
    }

    div {
        width: 100%;
        padding: .5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10em;
        padding-right: 10em;
        


        h2 {

            span {
                color: #b96832;
            }

            font-size: 28px;
            font-weight: 600;
            cursor: pointer;
            transition: color 6s ease;

            &:hover {
                color: #213d88;
                span {
                    color: #213d88;
                }

            }

        }
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 1.5em;

        
        li {
            
            a {
                text-decoration: none;
                margin-left: 2.5em;
                font-size: 16px;   
                color: black;   
                transition: color 0.3s ease;

            }
            
            .contact-us-a {
                background-color: #325db9;
                padding: .8em 1em;
                border-radius: 2em;
                color: white;

                &:hover {
                    color: white;

            }
            }
        }
    }

    .active {

        a {
            color: #325db9;
            font-weight: bold;
        }
    }
}
















/* --------------------- MAIN CONTENT --------------------- */

.main-content {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 10em;
    padding-right: 10em;
    justify-content: space-between;

    .focusing {

        h1 {
            font-size: 80px;
            margin-bottom: .25em;
            width: 663px;
        }

        p {
            font-size: 18px;
        }
    }

    .aplanadora-img {
        height: 500px;
        
    }
}

















/* --------------------- ABOUT --------------------- */

.about-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .about-us {
        text-align: center;
        width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 35px;
            margin-bottom: .8em;
        }

        p {
            font-size: 16px;
            margin-bottom: 6em;
            width: 680px;
            line-height: 1.6;
            
        }
    }

    .about-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3em;

        .card {
            height: 140px;
            width: 300px;
            padding: 2em 1em;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }

            .content-card {
                width: 240px;
                cursor: default;

                h3 {
                    margin-bottom: 1.5em;
                }

                p {
                    font-size: 15px;
                    line-height: 1.6;
                    
                }
            }

        }

        .one {
            background-color: #1F3C88;
            color: white;
        }

        .two {
            background-color: #3C5AB5;
            color: white;
        }

        .three {
            background-color: #E8F0FF;
            color: #213D88;
        }
    }
}

















/* --------------------- HISTORY --------------------- */

.history-content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #000000;
    cursor: default;
    box-shadow: 0 10px 30px #1f3d888c;
    transition: transform 0.4s ease-in-out;

    &:hover {
        transform: translateY(-10px);
        transition: transform 0.4s ease-in-out;
    }

    h2 {
        font-size: 35px;
        margin-bottom: 1em;
        letter-spacing: 1px;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    }


    p {
        font-size: 15px;
        line-height: 1.8;
        width: 50%;
        margin: 0 auto;
        text-align: left;
    }
}











/* --------------------- MACHINERY --------------------- */

.machinery-content {
    width: 90%;
    margin: 40px auto;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 35px;
        margin-bottom: 1em;
    }
  
    .machinery-row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        .machinery-wrapper {
            width: 100%;
            overflow: hidden;
            
            .machinery-cards {
                display: flex;
                gap: 40px;
                transition: transform 0.4s ease-in-out;
                width: max-content;
            }
            
            .m-card {
                flex: 0 0 220px;
                height: 330px;
                border-radius: 0.6em;
                box-shadow: 0 2px 6px rgba(0,0,0,0.15);
                display: flex;
                align-items: start;
                justify-content: center;
                padding-top: 2em;
                cursor: default;
                transition: transform 0.3s ease-in-out; 


                &:hover {
                    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
                    transform: translateY(-10px);
                }

                h3 {
                    font-size: 1.3rem;
                    font-weight: 600;
                }
                img {
                    width: 200px;
                    height: auto;
                }
            }

            .pv {
                position: relative;

                h3 {
                    position: absolute;
                    top: 60px;
                    left: 30px;
                    width: 100px;
                }
                img {
                    position: absolute;
                    width: 380px;
                    height: auto;
                    top: 70px;
                    left: -50px;
                    border-radius: 0.6em;
                    z-index: 1;
                }
            }

            .vc {
                position: relative;

                h3 {
                    position: absolute;
                    top: 60px;
                    left: 30px;
                }
                img {
                    position: absolute;
                    width: 260px;
                    height: auto;
                    top: 100px;
                    left: 10px;
                    border-radius: 0.6em;
                }
            }

            .dr {
                position: relative;

                h3 {
                    position: absolute;
                    top: 60px;
                    left: 30px;
                }

                p {
                    position: absolute;
                    top: 90px;
                    left: 30px;
                    width: 150px;
                }
                img {
                    position: absolute;
                    width: 400px;
                    height: auto;
                    top: 110px;
                    left: -30px;
                }
            }

            .cc {
                position: relative;

                h3 {
                    position: absolute;
                    top: 60px;
                    left: 30px;
                }

                p {
                    position: absolute;
                    top: 110px;
                    left: 30px;
                    width: 150px;
                }
                img {
                    position: absolute;
                    width: 210px;
                    height: auto;
                    top: 110px;
                    left: 40px;
                }
            }

            .bc {
                position: relative;

                h3 {
                    position: absolute;
                    top: 60px;
                    left: 30px;
                }

                img {
                    position: absolute;
                    width: 210px;
                    height: auto;
                    top: 80px;
                    left: 40px;
                }
            }

            .mc {
                position: relative;

                h3 {
                    position: absolute;
                    top: 60px;
                    left: 30px;
                }

                img {
                    position: absolute;
                    width: 290px;
                    height: auto;
                    top: 75px;
                    left: 7px;
                }
            }

            .gee {
                position: relative;

                h3 {
                    position: absolute;
                    top: 60px;
                    left: 30px;
                }

                img {
                    position: absolute;
                    width: 190px;
                    height: auto;
                    top: 140px;
                    left: 55px;
                }
            }

            .mn {
                position: relative;
                width: 300px;

                h3 {
                    position: absolute;
                    top: 60px;
                    left: 30px;
                    width: 100px;
                }

                img {
                    position: absolute;
                    width: 300px;
                    height: auto;
                    top: 70px;
                    left: 15px;
                }
            }

            .gs {
                position: relative;
                width: 300px;

                h3 {
                    position: absolute;
                    top: 60px;
                    left: 30px;
                    width: 100px;
                }

                img {
                    position: absolute;
                    width: 255px;
                    height: auto;
                    top: 100px;
                    left: 35px;
                }
            }
            

            .c-one {
                background: #FFC258;
            }

            .c-two {
                background: #F3F3F3;
            }

            .c-three {
                background: #E8F0FF;
                color: #213D88;
            }
            
            .content-machinery-card {
                text-align: start;
            }
        }
        
        .btn {
            background: rgba(248, 248, 248, 0.8);
            border: none;
            padding: 5px;
            cursor: pointer;
            border-radius: .6em;
            transition: 0.3s ease-in-out;

            svg {
                width: 30px;
                height: 30px;
                fill: #000000e0;
            }
        }
        
        .btn:hover {
            background: #E8F0FF;

            svg {
                fill: #213D88;
            }
        }
    }
}
















/* ----------------------- MISION Y VISION ----------------------- */

.mision-vision-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1em;
    padding: 0 10em ;

    .mision-content {
        height: 100vh;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: end;
        position: relative;
        
        img {
            position: absolute;
            width: 95%;
            height: calc(80% - 60px);
            object-fit: cover;
            border-radius: 0.5em;
            bottom: 115px;
            z-index: -1;
        }
        
        .mision {
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            border-radius: 0.5em;
            height: 250px;
            position: absolute;
            bottom: 140px;
            padding: 1.5em;
            
            h2 {

                svg {
                    height: 25px;
                    width: auto;
                    margin-right: .8em;
                }
                
                text-align: left;
                color: #272727e0;
                font-size: 30px;
                margin-bottom: 0.8em;
            }
            
            p {
                text-align: left;
                font-size: 16px;
                width: 100%;
                line-height: 1.6;
            }
        }
    }

    .vision-content {
        height: 100vh;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        img {
            position: absolute;
            width: 95%;
            height: calc(80% - 60px);
            object-fit: cover;
            border-radius: 0.5em;
            bottom: 115px;
            z-index: -1;
        }
        
        .vision {
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            border-radius: 0.5em;
            height: 250px;
            position: absolute;
            bottom: 140px;
            padding: 1.5em;
            
            h2 {

                svg {
                    height: 25px;
                    width: auto;
                    margin-right: .8em;
                }
                
                text-align: left;
                color: #272727e0;
                font-size: 30px;
                margin-bottom: 0.8em;
            }
            
            p {
                text-align: left;
                font-size: 16px;
                width: 100%;
                line-height: 1.6;
            }
        }
    }
}























/* ----------------------- CONTACT US ----------------------- */

.contact-us-content {
    height: 100vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .contact-us {
        width: 80%;
        height: 70vh;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            font-size: 40px;
            margin-bottom: 1em;
        }

        p {
            font-size: 20px;
            margin-bottom: 1em;
        }

        .phone-contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1.5em;

            svg {
                height: 25px;
                width: auto;
                margin-bottom: 1em;
            }

            p {
                line-height: 1.5;
                font-size: 18px;
            }
        }
    }

    .footer {
        /* background-color: #E8F0FF; */
        background-color: #1F3C88;
        width: 95%;
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.8em;
        margin-bottom: .5em;
        border-radius: .6em;
        
        .logo-address-contact {

            h3 {
                font-size: 25px;
                /* color: #213D88; */
                margin-bottom: 0.5em;
                color: white;
            }

            .address {
                font-weight: bolder;
                margin-bottom: 1.3em;
            }

            p {
                font-size: 15px;
                margin-bottom: .5em;
                color: #d1d1d1;

            }

            
        }

        .pages {
            
            ul {
                display: flex;
                flex-direction: column;
                gap: 1.5em;

                li {
                    font-size: 15px;
                    list-style: none;

                    a {
                        text-decoration: none;
                        /* color: black; */
                        color: white;
                    }
                }
            }
        }

        .social-media {
            margin-top: 1em;
            width: auto;

            ul {
                display: flex;
                flex-direction: row;
                gap: 1em;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;

                        svg {
                            /* fill: black; */
                            fill: #d1d1d1;
                            width: 30px;
                            height: auto;
                        }
                    }
                }
            }
        }

        .phrase-copyright {
            text-align: center;
            font-size: 15px;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            color: white;

            .phrase {
                margin-bottom: 1em;
                padding-bottom: 1em;
                width: 100%;
                text-align: left;

            }

            .copyright{
                border-top: 1px solid #525252;
                padding-top: 1em;
                width: 100%;
                margin-bottom: 0;
                
            }
        }

    }
}



/* ----------------------- RESPONSIVE CONTACT US ----------------------- */

@media (max-width: 1252px) {
    
    .contact-us-content {
        height: auto;
        .footer {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
            gap: 2em;

            .logo-address-contact {
                text-align: center;
                margin-bottom: 1em;
                text-align: left;
                width: 30%;
            }

            .pages {
                margin-bottom: 1em;
                width: 30%;


                ul {
                    li {
                        text-align: left;
                    }
                }
                

            }

            .social-media {
                margin-bottom: 1em;
            }

            .phrase-copyright {
                width: 30%;
                text-align: left;
                padding-top: 1em;
                
                .phrase {
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
}





















/* ----------------------- RESPONSIVE ----------------------- */



@media (max-width: 1905px) {
    .main-content {

        .focusing {
            
            h1 {
                font-size: 70px;
            }

            p {
                font-size: 16px;
            }
        }

        .aplanadora-img {
            position: static;
            height: 400px;

        }
    }


}

@media (max-width: 1757px) {
    .main-content {

        .focusing {
            
            h1 {
                font-size: 60px;
                width: 500px;
            }
           
        }

        .aplanadora-img {
            position: static;
            height: 350px;

        }
    }

}

@media (max-width: 1641px) {
    .main-content {
        .focusing {
            
            h1 {
                font-size: 50px;
            }
           
        }

        .aplanadora-img {
            position: static;
            height: 300px;

        }
    }

    
}








@media (max-width: 1538px) {
    .main-content {
        .focusing {
            
            h1 {
                font-size: 50px;
            }
           
        }

        .aplanadora-img {
            position: static;
            height: 300px;

        }
    }

    .mision-vision-container {
        flex-direction: column;

        align-items: center;
        justify-content: center;
        height: 100vh;
        gap: 1em;
        padding: 0 10em ;

        .mision-content {
            width: 100%;
            
            img {
                width: 90%;
                height: calc(80% - 60px);
                bottom: 0px;
            }
            
            .mision {
                height: 250px;
                bottom: 35px;
                
                p {
                    font-size: 17px;
                    width: 100%;
                }
            }
        }

        .vision-content {
            width: 95%;

            
            
            img {
                width: 95%;
                height: calc(80% - 60px);
                bottom: 115px;
            }
            
            .vision {
                width: 85%;
                height: 250px;
                bottom: 150px;
                
                p {
                    text-align: left;
                    font-size: 17px;
                    width: 100%;
                }
            }
        }
    }
}














@media (max-width: 1536px) {
    .main-content {
        .focusing {
            
            h1 {
                font-size: 50px;
            }
           
        }

        .aplanadora-img {
            position: static;
            height: 300px;

        }
    }

    .mision-vision-container {

        .mision-content {
            
            img {
                height: calc(100% - 60px);
                bottom: 0px;
            }
            
            .mision {
                height: 200px;
                bottom: 25px;
                
            }
        }

        .vision-content {

            img {
                height: calc(100% - 60px);
                bottom: 35px;
            }
            
            .vision {
                height: 200px;
                bottom: 10%;
                
            }
        }
    }
}



@media (max-width: 1440px) {

    #top-bar {
        width: 100%;
        height: 80px;
        padding: 0;

        
        .hamburger {
            display: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            margin-left: 1em
        }
        

        div {
            
            padding: 0;
            justify-content: start;
            flex-direction: column;
            gap: 3em;

            h2 {
                
                font-size: 35px;

            }
        }

        .menu {
            display: none;
            position: absolute;
            top: 0;
            flex-direction: column;
            background-color: #fff;
            width: 100%;
            height: 100vh;
            transform: translateX(100%);
            transition: transform 0.8s ease-in-out;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        }

        .open {
            transform: translateX(0);
            transition: transform 0.8s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ul {
            flex-direction: column;
            gap: .5em;
            width: 100%;
            cursor: pointer;

            li {
                height: 100px;
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.8em;

                &:hover {
                    background-color: #E8F0FF;
                    
                    a{
                        color: #213D88;

                    }
                }
                
                
                a {
                    margin-left: 0em;
                    font-size: 22px;   

                }
                
                .contact-us-a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100px;
                    width: 100%;
                    padding: 0;
                }
            }
        }

    }

    

   

    
}





@media (max-width: 1175px) {

    .main-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .focusing {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 5em;

            h1 {
                font-size: 60px;
                margin-bottom: .5em;
                width: 80%;

                br {
                    display: none;
                }
            }

            p {
                font-size: 20px;
                width: 80%;
            }
        }

        .aplanadora-img {
            height: 500px;
            
        }
    }

    



    .about-content {
        height: auto;
        padding: 4em 0;

        .about-us {
            width: 800px;

            p {
                font-size: 17px;
                
            }
        }

        .about-cards {
            flex-direction: column;
            gap: 0;
            width: 100%;

            .card {
                height: 140px;
                width: 100%;
                padding: 2em 1em;
                border-radius: 0;

                .content-card {
                    width: 70%;
                    cursor: default;
                    display: flex;
                    justify-content: center; 
                    align-items: center;
                    flex-direction: column;
                    h3 {
                        margin-bottom: 0.8em;
                    }

                    p {
                        font-size: 16px;
                    }
                }

            }
        }
    }


    

    .mision-vision-container {

        .mision-content {
            
            img {
                height: calc(100% - 60px);
                bottom: 0px;
            }
            
            .mision {
                height: 200px;
                bottom: 25px;

                p {
                    font-size: 15px;
                    width: 100%;
                }

                h2 {
                    font-size: 25px;
                }
                
            }
        }

        .vision-content {

            img {
                height: calc(100% - 60px);
                bottom: 35px;
            }
            
            .vision {
                height: 200px;
                bottom: 10%;
                
                p {
                    font-size: 15px;
                    width: 100%;
                }

                h2 {
                    font-size: 25px;
                }
            }
        }
    }
}


@media (max-width: 980px) {

    .main-content {
        padding-left: 5em;
        padding-right: 5em;

        .focusing {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 5em;

            h1 {
                font-size: 55px;
                margin-bottom: .5em;
                width: 80%;

                br {
                    display: none;
                }
            }

            p {
                font-size: 22px;
                width: 80%;

                br {
                    display: none;
                }
            }
        }

        .aplanadora-img {
            height: 500px;
            
        }
    }

    .about-content {

        .about-us {
            width: 800px;
      
            h2 {
                font-size: 45px;
                margin-bottom: .8em;
            }

            p {
                font-size: 22px;
                margin-bottom: 6em;
                width: 80%;
                line-height: 1.6;
                
            }
        }

        .about-cards {
            .card {
                .content-card {
                    text-align: center;

                    h3 {
                        margin-bottom: 1.5em;
                        font-size: 25px;
                    }

                    p {
                        font-size: 22px;
                        line-height: 1.6;
                        
                    }
                }

            }
        }
    }

    .machinery-content {
        margin: 40px auto;
        text-align: center;
        height: 50vh;

        h2 {
            font-size: 45px;
        }

        .machinery-row {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .machinery-wrapper {
                display: flex;                
                overflow-x: auto;
                scroll-behavior: smooth;
                -webkit-overflow-scrolling: touch;
                
                .machinery-cards {
                    min-width: 260px;              
                    flex-shrink: 0;                
                    scroll-snap-align: start;   
                    
                    .m-card {
                        flex-shrink: 0;

                        .content-machinery-card {
                            h3 {
                                font-size: 25px;
                            }
                            p {
                                font-size: 20px;
                            }                               
                        }

                        
                    }
                    .cc {
                        .content-machinery-card {
                            p {
                                top: 120px;
                            }

                            img {
                                top: 130px;
                            }
                        }
                        
                    }
                }
            }

        }
    }

    .mision-vision-container {
        padding: 0em;

        .mision-content {

            img {
                height: calc(70% - 60px);
                width: 100%;
            }
            
            .mision {
                height: 200px;
                bottom: 5%;
                
            }
        }

        .vision-content {
            width: 100%;

            img {
                height: calc(70% - 60px);
                top: 50px;
                width: 100%;
            }
            
            .vision {
                height: 200px;
                bottom: 37%;                
            }
        }
    }

}














